What is the endpoint for disconnecting an application?

**Related Product**
Which product is this question related to?
- The API as a whole.

<!-- PLEASE DO NOT INCLUDE YOUR CLIENT ID, APPLICATION ID, OR SECRET IN THIS ISSUE. WE WILL REVOKE YOUR TOKEN IF YOU DO. -->

**Describe the question**
Say, for purposes of example, that I have a church that had previously gave my app access, but later decides that they want to disconnect it for whatever reason. Perhaps the user who established the connection is associated with multiple churches and accidentally gave my app access to the wrong one. **What endpoint should my app send a request to in order to disconnect, and what should that request look like?** I tried checking the documentation, but it only covers how to connect an app and refresh the access token.

As an example of what I'm talking about, here's Intuit's documentation of their disconnect implementation for QuickBooks Online: https://developer.intuit.com/app/developer/qbpayments/docs/develop/authentication-and-authorization/oauth-2.0#revoke-token-disconnect


## I have..

- [x] Reviewed the documentation found at https://developer.planning.center/docs
- [x] Searched for previous issues answering this question
- [x] Removed all private information from this issue (credentials, tokens, emails, phone numbers, etc.)
- [x] Reviewed my issue for completeness


@SBTexasFoundationDev It's not currently documented, but our revocation endpoint is https://api.planningcenteronline.com/oauth/revoke

It accepts revocation requests as defined in  [RFC 7009, Section 2.1](https://datatracker.ietf.org/doc/html/rfc7009#section-2.1).

We'll make sure to get our docs updated.